.controls_photoGallery_photoGallery {
  margin: 20px;
}
.controls_photoGallery_photoGallery .photoBlock {
  float: left;
}
.controls_photoGallery_photoGallery .photoBlock .selectedPhoto {
  float: left;
}
.controls_photoGallery_photoGallery .photoBlock .photoList {
  float: left;
}
.controls_photoGallery_photoGallery .photoBlock .photoInfo {
  clear: both;
}
.controls_photoGallery_photoGallery .photoBlock .selected {
  border: 1px solid red;
}
.controls_photoGallery_photoGallery .imageButton img,
.controls_photoGallery_photoGallery .addButton img,
.controls_photoGallery_photoGallery .emptyButton img {
  margin: 0;
  border-radius: 7px;
}
.controls_photoGallery_photoGallery .imageButton {
  cursor: pointer;
}
.controls_photoGallery_photoGallery .imageButton,
.controls_photoGallery_photoGallery .emptyButton {
  margin-left: 15px;
  margin-bottom: 12px;
  width: 48px;
  height: 36px;
  border: 1px solid black;
  border-radius: 7px;
}
.controls_photoGallery_photoGallery .addButton img {
  width: 48px;
  height: 36px;
  border: 1px solid black;
}
.controls_photoGallery_photoGallery .addButton {
  width: 250px;
  margin-left: 15px;
  margin-bottom: 12px;
}
.controls_photoGallery_photoGallery .addButton div {
  display: inline;
}
.controls_photoGallery_photoGallery .addButton .label {
  cursor: pointer;
  margin-left: 24px;
  z-index: 99999;
}
