.controls_tabs_tabs {
  border: 0 solid #000;
  border-bottom-width: 1px;
  padding: 10px 0 0 4px;
  vertical-align: bottom;
  background-color: #FFFFFF;
  height: 31px;
  white-space: nowrap;
}
.controls_tabs_tabs div {
  float: left;
  padding-bottom: 0;
  vertical-align: bottom;
  height: 30px;
  margin-left: 4px;
}
.controls_tabs_tabs span {
  display: block;
  width: 181px;
  height: 16px;
  padding: 5px;
  padding-bottom: 9px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #505050;
  border-bottom: 1px solid #505050;
  font: 13px sans-serif;
  color: #000000;
  background-color: #f1f1f1;
  text-decoration: none;
  vertical-align: bottom;
  text-align: center;
  cursor: pointer;
}
.controls_tabs_tabs div.active span {
  border-bottom-width: 0;
  font-weight: bolder;
  background-color: #fff;
  color: #000;
  height: 17px;
}
